In [2]:
# Numbers
numero1 = 5
print("numero: " +  str(numero1))

numero: 5

In [3]:
numero1

5

In [4]:
numDecimal = 3.5
type(numDecimal)

float

In [5]:
print ("Suma: " + str(numero1 + numDecimal))

Suma: 8.5

In [11]:
#Exercise 1
numero1 = 5
print('type numero1: ' + str(type(numero1)) + '\n')

numero2 = 6.5
print('tupe numero2: ' + str(type(numero2)) + '\n')

numero3 = 7
print('type numero3: ' + str(type(numero3)) + '\n')

suma = numero1 + numero2 + numero3
print('Suma: ' + str(suma))
print('Type suma: ' + str(type(suma)))

type numero1: <class 'int'>

tupe numero2: <class 'float'>

type numero3: <class 'int'>

Suma: 18.5
Type suma: <class 'float'>

In [12]:
#Exercise 2
numero1 = 5
numero2 = 3
suma = numero1 + numero2
strSuma = str(suma)
strResultado = 'The result is: ' + strSuma
print(strResultado)

The result is: 8

In [1]:
# Strings
Cadena = "Hola Mundo"
Cadena

'Hola Mundo'

In [2]:
Cadena[5]

'M'

In [3]:
Cadena[-1]

'o'

In [5]:
Cadena[2:9]

'la Mund'

In [6]:
Cadena[3:]

'a Mundo'

In [7]:
#String methods
initial = 'Hola Mundo'

len(initial)

10

In [8]:
initial.upper()

'HOLA MUNDO'

In [9]:
initial.lower()

'hola mundo'

In [10]:
initial.split(' ')

['Hola', 'Mundo']

In [11]:
name = 'Fulanito'
age = 18

print('My name is {}, and my age is {}'.format(name, age))

My name is Fulanito, and my age is 18

In [12]:
some = 10/3
some

3.3333333333333335

In [14]:
print('The result is: {r:1.3f}'.format(r=some))

The result is: 3.333

In [15]:
#-input by keyboard
print("Add your name")
nameAdded = input()
print("Your name is: " + nameAdded)

Add your name

 Cybk

Your name is: Cybk

In [19]:
#Exercise 1
ex1 = "Esto es un texto de ejemplo"
ex1[11:16]

'texto'

In [27]:
#Exercise 2
exLength = len(ex1)
exLength
strLength = str(exLength)
up = ex1.upper()
result2 = "The strins \"" + up + "\" has a length of: " + strLength
result2

'The strins "ESTO ES UN TEXTO DE EJEMPLO" has a length of: 27'

In [28]:
# Exercise3
number1 = 5
number2 = 8
sumResult = number1 + number2
print("Result {} + {} is: {}".format(number1, number2, sumResult))

Result 5 + 8 is: 13

In [29]:
# Exercise 4
print("Write the first number: ")
num1 = input()
print("Write the second number: ")
num2 = input()
sumResult = int(num1) + int(num2)
strResult = str(sumResult)
print("The result of sum both numbers is: " + strResult)

Write the first number:

 18

Write the second number:

 23

The result of sum both numbers is: 41